{% extends "template.html" %}

{% block nav %}
  <li role="presentation"><a href="/index">Home</a></li>
  <li role="presentation" class="active"><a href="#">About</a></li>
{% endblock %}

{% block jumbotron %}
  Hi, I am an undergraduate computer engineering student and this is a personal project to introduce myself to python programming.<br>

  This project is not intended to be lucrative nor perfect, if you like my work and you do have a Telegram account you can contact <a href="http://telegram.me/ruaronicola">@ruaronicola</a>. If you don't have one .. What are you waiting for? :) <br>

  You can find out more about me and this projects in <a href="https://github.com/ruaronicola/TelepathyBot">my github repo</a>.
{% endblock %}
